@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RoadRage';
  src: url('./assets/fonts/RoadRage/RoadRage-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./assets/fonts/Khand/Khand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./assets/fonts/Khand/Khand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./assets/fonts/Khand/Khand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./assets/fonts/Khand/Khand-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./assets/fonts/Khand/Khand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SchoolBell';
  src: url('./assets/fonts/SchoolBell/Schoolbell-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('./assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('./assets/fonts/Kalam/Kalam-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('./assets/fonts/Kalam/Kalam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondense';
  src: url('./assets/fonts/Roboto/RobotoCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply text-[#0d2f3f] dark:text-stone-300; /* Default text color */
  }

  /* Optionally target headings for consistency */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  li {
    @apply text-stone-800 dark:text-stone-300;
  }
  :root {
    --radius: 0.5rem;
  }
}
